/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* html{
    font-size: 30px;
} */
html, body {
    padding: 0;
    margin: 0;
    /* set margin & padding to 0 so that elements stratch to edge of browser window */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0,0,0,.7);
}

.logo-text {
    font-family: 'Fredoka One', cursive;
    color: rgb(3, 71, 82);
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(0,0,0,.2)
}

.top-nav{
    display: flex;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.top-nav a {
    text-decoration: none;
    padding: 0 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0,0,0,.7);
    font-size: 15px;
}

.main-stories {
    padding: 0 20px;
}

.main-nav {
    padding-top: 40px;
}

.main-nav a {
    text-decoration: none;
    border-bottom: 1px solid rgb(0,0,0,.2);
    padding-right: 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0,0,0,.7);
    font-size: 16px;
}

.active-link {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.active-link h4 {
    padding-right: 15px;
    font-size: 24px;
    font-weight: normal;
}
