/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* html{
    font-size: 30px;
} */
html, body {
    padding: 0;
    margin: 0;
    /* set margin & padding to 0 so that elements stratch to edge of browser window */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0,0,0,.7);
}

.logo-text {
    font-family: 'Fredoka One', cursive;
    color: rgb(3, 71, 82);
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(0,0,0,.2)
}

.top-nav{
    display: flex;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.top-nav a {
    text-decoration: none;
    padding: 0 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0,0,0,.7);
    font-size: 15px;
}

.main-stories {
    padding: 0 20px;
}

.main-nav {
    padding-top: 40px;
}

.main-nav a {
    text-decoration: none;
    border-bottom: 1px solid rgb(0,0,0,.2);
    padding-right: 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0,0,0,.7);
    font-size: 16px;
}

.active-link {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.active-link h4 {
    padding-right: 15px;
    padding-top: 20px;
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
}

.projects {
    padding-bottom: 60px;
    border-bottom: 1px solid rgb(0,0,0,.9);
}

.featured-projects img {
    width: 100%;
}

.featured-projects h5, h3{
    margin: 0;
    padding: 10px 0;
}

.featured-projects p {
    margin: 0;
}

.mini-side-nav {
    padding-top: 30px; 
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(0,0,0,.2);
}

.mini-side-nav a {
    text-decoration: none;    
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0,0,0,.7);
    font-size: 16px;
    padding-right: 8px;    
}

.other-stories div{
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid rgb(0,0,0,.2);
}

.other-stories img{
    width: 25%;
    padding-right: 10px;
}

.other-stories a{
    text-decoration: none;    
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0,0,0,.7);
    font-size: 14px;
    word-wrap: break-word;
    padding: 0px 10px;
    /* width: 70%; */
}

/* find another way for this */
/* .other-projects p {
    width: 13%;
    outline: 1px solid black;
} */